<!DOCTYPE html>
<html lang="es">
<head>
    <title>Adivina La Pelicula</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">

    <link rel="stylesheet" href="/www/css/game_rp/game.css">

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/www/js/game_rp/functions.js"></script>
</head>
<body>
    <div class="player">
        <div id="player" style="display: none"></div>
        <div id="audio">
            <audio id="audioPlayer" controls src="">
            </audio>
        </div>
    </div>
    <div class="answers">
        <div class="answer">
            <input id="a0" type="button" value="" class="input-answer" onclick="hide_show_YT()">
        </div>
        <div class="answer">
            <input id="a1" type="button" value="" class="input-answer">
        </div>
        <div class="answer">
            <input id="a2" type="button" value="" class="input-answer">
        </div>
        <div class="answer">
            <input id="a3" type="button" value="" class="input-answer">
        </div>
    </div>
</body>
</html>
