<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <title>Adivina La Pelicula</title>
    <link rel="stylesheet" href="../../../css/game_rp/main.css">
    <link rel="stylesheet" href="../../../css/normalize.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#container').load("game.html");
        });
    </script>
</head>
<body>
    <p class="main_tittle">Adivina La Pelicula!</p>
    <div id="score" class="principal-font"></div>
    <div style="font-size: 20px" class="score-escene principal-font" id="escene"></div>
    <div style="font-size: 20px" class="container-game principal-font" id="container"></div>
</body>
</html>
