.player {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

.answers {
    display: flex;
    flex-flow: wrap;
    padding-top: 20px;

}

.answer {
    display: flex;
    height: 140px;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-image: url(/games-platforms/www/img/square_option.png);
    background-position: center;
    background-size: 100% 140px;
    background-repeat: no-repeat;
}

.input-answer {
    background: transparent;
    border: none;
    outline: none;
    max-width: 100%;
}
