
*{
    margin: 0;
    padding: 0;
    font-weight: bold;
    box-sizing: border-box;
    color: aliceblue;
  }
  .total_content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
    align-items: center;
    flex-wrap: wrap;
  }

  @keyframes go-left-right {        
    from { left: 20%; }            
    to { left: 50%; } /* animar a la izquierda 50%*/
  }
  @keyframes go-right-left {  
    from { top: 20%;
            left: 20%; }          
    to { top: 50%; left: 20%;} /* animar abajo:50%*/
  }

  @keyframes go-aument {       
    from { width:198px; height: 288px; left: 20%;}          
    to { width:298px; height: 388px; left: 20%;} /* aumentar imagen */
  }
  .information_level{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #221f4d;
    opacity: 0.8;
  }
  .information_level h1{
    display: block;

  }
  .img1 {
    animation: go-left-right 2s infinite alternate;
    top:150px;
  }

  .img2 {
    animation: go-right-left 2s infinite alternate;
    position: fixed;
  }

  .img3 {
    animation: go-aument 2s infinite alternate;
    position: fixed;
  }


  body{
    height: 100vh;
    background: linear-gradient(to top, rgb(55, 53, 97), rgb(169, 171, 188));
  }
  
  .header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #221f4d;
    height: 5em;
  }
  
  .score{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    padding-top: 4em;
  }
  
  .image{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2fbfd;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
  }
  .garden {
      position: relative;
      width : 200px;
      height: 200px;
      border: 5px solid #CCC;
      border-radius: 10px;
    }
